* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: #3656E4;
    font-size: 14px;
}

header .container {
    padding: 0.6rem 0;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

hr {
    color: white;
    margin: 2rem 0;
}

.section {
    padding: 3rem 1rem;
}

.container {
    width: 1000px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.d-flex-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.h-side, .nav {
    padding: 0.5rem;
    min-width: 100px;
}

.h-side{
    width: 20%;
}

.nav {
    flex-grow: 1;
    padding-top: 1rem;
}

.nav ul {
    justify-content: space-around;
}

.nav li {
    list-style: none;
}
 .nav a {
    text-decoration: none;
    color: white;
 }

.login {
    justify-content: end;
}

.btn {
    border-radius: 30px;
    text-decoration: none;
    padding: 1rem;
}

.small-btn {
    padding: .5rem;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-dark {
    background-color: #23272A;
    color: white;
}

.btn-violet {
    color: white;
    background-color: #8EA1E1;
}

.bg-jumbotron {
    background-color: #3858E5;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.jumbotron-content {
    text-align: center;
    color: white;
    width: 80%;
    min-height: 300px;
    margin: auto;
    padding: 4rem;
}

.jumbotron-content p {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.jumbo-btn {
    justify-content: center;
    gap: 1.5rem;
}

.large-col {
    min-width: 200px;
    min-height: 300px;
    flex-shrink: 0;
}

.small-col {
    min-width: 100px;
    min-height: 300px;
    padding-top: 30px;
}

p {
    margin-top: 1rem;
}

.bg-grey {
    background-color: #F6F6F6;
}

.big-content {
    text-align: center;
}

.end-phrase {
    background-image: url(../img/stars.svg);
    padding: 2.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 620px;
    margin: auto;

}

.bg-footer {
    background-color: #23272A;
}

.ft-container {
    gap: 2rem;
    border-bottom: 2px solid #8EA1E1;
}

.ft-col {
    min-height: 400px;
    padding-bottom: 2rem;
}

.ft-col h3, .ft-col h4 {
    color: #8EA1E1;
}

.ft-col.left-col {
    flex-grow: 1;
    max-width: calc(100% / 5 * 1.5);
    color: white;
}

.language {
    padding-top: 20px;
}

.left-col img {
    width: 30px;
    vertical-align: middle;
}

.social-media .fa-brands {
    padding-top: 15px;
    padding-right: 20px;
    font-size: 25px;
}

.ft-col.right-col {
    flex-grow: 3;
}

.in-col {
    flex-grow: 1;
}

.in-col ul {
    list-style: none;
}

.in-col a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px 0;
}

.bg-endpage {
    padding-top: 2rem;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.ft-logo {
    float: left;
}

.ft-button {
    float: right;
}